# IDE files
.idea
.vscode
.zed

# Storage directories
storage
apify_storage
crawlee_storage

# Dependencies & Build
node_modules
dist
*.tsbuildinfo
build/
out/

# Environment & Logs
.env
.venv
*.log

# OS & Temp files
.DS_Store
Thumbs.db
*.tmp
*.temp
.cache/

